.containerWeather {
  background-color: rgb(56, 56, 56);
  color: white;
  display: grid;
  margin-bottom: 2px;
}
.searchCity {
  background-color: lightgray;
  height: 80vh;
}
.weatherCard {
  margin-top: 10px;
  height: 40vh;
}
.day {
  display: inline-block;
  height: 20vh;
  width: 100%;
  background-image: url("bluebackground.jpg");
  color: white;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-right: 1rem;
}
img {
height: 6vh;
width: auto;
}
.cityName {
  font-size: 30px;
  font-weight: bold;
}
.date{
  font-size: 30px;
  font-weight: bold;
}
